@using SachOnline.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Book>


@{
    ViewBag.Title = "SachTheoNhaXuatBan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<style type="text/css">
    .imgbook {
        transition: all 1s ease-in;
        width: 202.5px !important;
        height: 253.13px !important;
    }

        .imgbook:hover {
            transform: scale(0.9);
            cursor: pointer;
        }
</style>
<h2 style="text-align:center">Sách theo Nhà Xuất Bản</h2>
<hr>
<div class="row text-center">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
            <div class="thumbnail">
                <img src="~/Images/@sach.Images" alt="@sach.Title" class="img-responsive img-rounded imgbook" style="width:400px;">
                <div class="caption">
                    <h4 style="min-height:70px;">
                        <a href="@Url.Action("SachTheoNhaXuatBan", "SachOnline", new { iMaNXB = sach.NhaXuatBanID })">@sach.Title</a>
                    </h4>
                    <p>
                        <a href="@Url.Action("ChiTietSach", "SachOnline", new { id = sach.BookID })" class="btn btn-primary" role="button">
                            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
@*Tạo liên kết các trang*@

Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SachTheoNhaXuatBan", new { iMaNXB = ViewBag.NhaXuatBanID, page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>
@*<nav class="text-center">


    <!-- Add class .pagination-lg for larger blocks or .pagination-sm for smaller blocks-->
    <ul class="pagination">

        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li class="active"><a href="#">1</a></li>
        <li> <a href="#">2</a></li>
        <li> <a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li class="disabled"><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>

            </a>
        </li>
    </ul>
</nav>*@
